* {margin: 0px;
   overflow-x: hidden;}

#navbar {
    width: 100vw;
    min-height: 6em;
    background-color: rgb(17, 17, 17);
    color: rgb(185, 10, 10);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    z-index: 1;
    align-items: center;
   
}

#header {
    flex: 1;
}

#editbutton {
    height: 1.5em;
    width: 1.5em;
    color: aliceblue;
    background-color: rgb(17, 17, 17);
    border: none;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;  
}

#searchbar {
    height: 2em;
    width: 20em;
    border-radius: 1em;
    border-style: none;
    display: none;
}

#logo {
    height: 2em;
    width: 2em;
}

#search {
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    color: aliceblue;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 50%;
}

#search:hover {
    background-color: rgb(43, 43, 43);
}
#editbutton:hover {
    background-color: rgb(43, 43, 43);
}

#container {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    min-height: 30em;
    padding-top: 10em;
    padding-bottom: 10em;
    
    
}

.platformlbl {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-left: 5em;
    padding-top: 3em;
    padding-bottom: 2em;
    box-sizing: border-box;
}
/*If I keep the carousel I will take a different approach 
to the buttons as anchoring doesn't have wide support and 
styling is limited with this pseudo button approach

/*
#gamecarousel {
    background-color: rgb(37, 37, 37);
    margin: auto;
    width: 100vw;
    padding-left: 5em;
    height: 30em;
    display: flex;
    gap: 1em;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    box-sizing: border-box;
    scroll-behavior: smooth;
    anchor-name: --gamecarousel;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
}

#gamecarousel::-webkit-scrollbar{

    display: none;
}

#gamecarousel::scroll-button(*) {
    position: fixed;
    position-anchor: --gamecarousel;
    cursor: pointer;

}


#gamecarousel::scroll-button(right) {
    content: '→';
    height: 5em;
    width: 5em;
    translate: -50%;
    position-area: right center;

}

#gamecarousel::scroll-button(left) {
    content: '←';
    height: 5em;
    width: 5em;
    translate: 50%;
    position-area: left center;


}

*/

.carouselcard {
   
    background-color: rgb(201, 200, 200);
    border-radius: 4%;
    flex: 0 0 20em;
    scroll-snap-align: start;
    aspect-ratio: 6 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carouselcard p {
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#attribution {
    color: rgb(17, 17, 17);
}

#popupform-addgame {
    
    margin: auto;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding-top: 2em;
    z-index: 10;
    border-radius: 2%;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}



#formbuttons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

#close {
    text-align: right;
    margin-top: -1em;
    background-color: rgb(247, 247, 247);
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}


.resultcontainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    flex-shrink: 1;
   

}

#results {
    margin: auto;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: .7em;
     max-height: 25em;
    overflow-y: auto;
   
}

.gameResult {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 1em;
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    justify-content: left;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 1em;
    border-bottom: solid gray 1px;
    min-height: 4em;
  
  
    
}

.gameResult p {
    flex: 1;
}

.gameResult:hover {
    color:rgb(201, 200, 200)
}

#searchContainer {
    margin: auto;
    max-width: 60em;
    display: flex;
    
    
}

#searchGamebtn {
    max-width: 10em;
    height: 2em;
  
}

#searchinput {
    max-width: 40em;
    height: 2em;
    box-sizing: border-box;
    flex: 1;

}

.gameCardImg{
    aspect-ratio: 6 / 8;
    width: 8em;
    height: 10em;
    box-sizing: border-box;
    margin-top: 2em;
    margin-bottom: 2em;
    align-self: center;
}

.gameCard {
    height: 20em;
    width: 15em;
    background-color: rgb(201, 200, 200);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    
}

#gamelanding {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.removeGame{
    color: rgb(185, 10, 10);
    width: 10em;
    align-self: center;
    margin-top: 1em;
}


.addGamebtn {

   
    flex-wrap: nowrap;
    width: 10em;
    }

@media(max-width: 500px){

    #navbar {
   
   
   
}

    
    .hidden {
        display: none;
    }


    .carouselcard {
        flex: 0 0 100%;
    }
    #navbar {
        flex: 0 0 100%;
        flex-wrap: wrap;
        font-size: 50%;
    }

    .platformlbl {
        font-size: 50%;
    }
}

