* {margin: 0px;}

#navbar {
    width: 100vw;
    height: 6em;
    background-color: rgb(17, 17, 17);
    color: rgb(185, 10, 10);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    position: sticky; 
    top: 0;
    z-index: 1;}

#header {
    flex: 1;
}

#editbutton {
    height: 1.5em;
    width: 1.5em;
    color: aliceblue;
    background-color: rgb(17, 17, 17);
    border: none;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;  
}

#searchbar {
    height: 2em;
    width: 20em;
    border-radius: 1em;
    border-style: none;
    display: none;
}

#logo {
    height: 2em;
    width: 2em;
}

#search {
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    color: aliceblue;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 50%;
}

#search:hover {
    background-color: rgb(43, 43, 43);
}
#editbutton:hover {
    background-color: rgb(43, 43, 43);
}

#container {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 30em;
    
}

.platformlbl {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-left: 5em;
    padding-top: 3em;
    padding-bottom: 2em;
    box-sizing: border-box;
}

#gamecarousel {
    background-color: rgb(37, 37, 37);
    margin: auto;
    width: 100vw;
    padding-left: 5em;
    height: 30em;
    display: flex;
    gap: 1em;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    box-sizing: border-box;
    scroll-behavior: smooth;
    anchor-name: --gamecarousel;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
}

#gamecarousel::-webkit-scrollbar{

    display: none;
}

#gamecarousel::scroll-button(*) {
    position: fixed;
    position-anchor: --gamecarousel;
    cursor: pointer;

}


#gamecarousel::scroll-button(right) {
    content: '→';
    height: 5em;
    width: 5em;
    translate: -50%;
    position-area: right center;

}

#gamecarousel::scroll-button(left) {
    content: '←';
    height: 5em;
    width: 5em;
    translate: 50%;
    position-area: left center;


}

.carouselcard {
   
    background-color: rgb(201, 200, 200);
    border-radius: 4%;
    flex: 0 0 20em;
    scroll-snap-align: start;
    aspect-ratio: 6 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carouselcard p {
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#attribution {
    color: rgb(17, 17, 17);
}

#popupform-addgame {
    min-height: 30em;
    max-width: 25em;
    margin: auto;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding-top: 2em;
    position: fixed;
    z-index: 1;
    border-radius: 2%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#gamename, #platform {
    font-size: 1.5em;
}

#submit, #close {
    font-size: 1.5em;
    width: 5em;
}

@media(max-width: 500px){
    .carouselcard {
        flex: 0 0 100%;
    }
    #navbar {
        flex: 0 0 100%;
        flex-wrap: wrap;
        font-size: 50%;
    }

    .platformlbl {
        font-size: 50%;
    }
}